!!!
html
  head
    title= 'Node image editor'
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/jquery-1.7.1.js')
    script(type='text/javascript', src='/javascripts/editimage.js')
  body!= body